#container {
    padding-top: 100px;
}

.modal {
    display: block;
    padding-right: 16px;
    z-index: 1072;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

input.text-field {
    cursor: auto;
    display: inline-block;
    border: solid 1px #ccc;
    color: #555555;
    padding: 0 0.5em;
    background-color: #fff;
    font: inherit;
    box-sizing: border-box;
    margin: 0 !important;
    height: 34px;
    font-size: 100%;
}

input.text-field[disabled] {
    background-color: #eeeeee !important;
    border-color: #ccc !important;
    opacity: 0.7;
}

input.text-field:focus {
    border: 1.5px solid #b3d4fd;
}

input.text-field.left-aligned {
    text-align: left;
}

input.text-field.right-aligned {
    text-align: right;
}

.select {
    cursor: auto;
    display: inline-block;
    border: solid 1px #ccc;
    color: #555555;
    padding: 0 0.5em;
    background-color: #fff;
    font: inherit;
    box-sizing: border-box;
    margin: 0 !important;
    height: 34px;
    font-size: 100%;
    width: 150px;
}
